* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 255, 0);
    font-family: monospace;
}
.app {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app__header {
    margin: 3rem;
}
.app__offset {
    margin-bottom: 3rem;
}
textarea {
    outline: none;
    margin: none;
    height: 20rem;
    width: 60rem;
    margin-bottom: 2rem;
    background-color: rgb(41, 41, 41);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}